
.AddTODO {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1;
  width: 64px;
  height: 64px;
  background-color: #98ca3f;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  font-weight: 700;
  color: #03091e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  
}

.icon-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.AddTODO:hover {
  transform-origin: center;
  transform: rotate(180deg);
}
