body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

  background-color: #121f3d;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}