.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
    color: aliceblue;
    z-index: 1;
  }
  
  .TodoCounter span {
    font-weight: bold;
  }